
#container .list article {
    width: 20%;
    padding: 40px 20px;
    transform: translateY(0);
    transition: visibility 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    float: left;
    box-sizing: border-box
}
#container .list article:nth-child(5n+1) {
    clear: both;
}
#container .list article .images{
    overflow: hidden;
    position: relative;
    background: #f3f3f3;
}
#container .list article img{
    width: 100%;
}
#container .list .con_box{
    margin-top: 25px
}
#container .list .con_box .pf_way{
    font-size: 0
}
#container .list .con_box .pf_way>li{
    display: inline-block;
    color: #666;
    font-size: 12px;
    text-align: center;
    padding: 4px 10px 3px;
    border: 1px solid #cccccc;
    border-radius: 25px;
    letter-spacing: -0.5px;
    margin-right: 5px;
    vertical-align: top
}
#container .list .con_box .title{
    font-size: 24px;
    line-height: 1.6;
    color: #333;
    font-weight: 700;
    margin-top: 5px;
    word-break: keep-all;
}