#content{
    width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 1.4rem
}
#content .tit{
    font-size: 3rem;
    color: #666;
    text-align: center
}
#content .con_box{
    margin-top: 50px
}
#content .con_box .info{
    font-size: 0;
    border-top: 1px solid #ddd
}
#content .con_box .info>li{
    font-size: 1.4rem
}
#content .con_box .table_header{
    padding: 13px 20px;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd
}
#content .con_box .table_header li{
    display: inline-block;
}
#content .con_box .table_footer li{
    border-bottom: 1px solid #ddd;
    padding: 13px 20px;
    background: #f7f7f7;
}
#content .con_box .num{
    display: inline-block;
    color: #888;
    text-align: center;
    width: 80px;
    margin: 0 auto
}
#content .con_box .num .labels{
    display: inline-block;
    color: #fff;
    background: #3672b0;
    width: 30px;
    text-align: center;
    font-size: 0.9rem;
    padding: 3px 0;
    border-radius: 3px;
    vertical-align: top
}
#content .con_box .desc{
    display: inline-block;
    width: 740px;
    white-space: nowrap;  
    overflow: hidden; 
    text-overflow: ellipsis;
    vertical-align: bottom
}
#content .con_box .date{
    color: #888
}
#content .con_box .con{
    padding: 30px
}
/* con_btn */
#content .con_box .con_btn{
    text-align: center;
    margin-top: 40px;
    position: relative
}
#content .con_box .con_btn .list a{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 70px;
    padding: 8px 0;
    color: #888;
    box-sizing: border-box;
    transition: all 0.3s
}
#content .con_box .con_btn .list a:hover{
    border-color: #3672b0;
    color: #3672b0;
}
#content .con_box .con_btn .right_btn{
    position: absolute;
    right:0; top: 0
}
#content .con_box .con_btn .right_btn a{
    margin-left: 10px
}