@media screen and (max-width: 1024px){
    
    #content{
        width: 90%
    }
    #content .list .con .number{
        width: 10%
    }
    #content .list .con .desc{
        width: 75%
    }
    #content .list .con .date{
        width: 15%
    }
    
}

@media screen and (max-width: 768px){
    
    #content .list .con>li{
        font-size: 1.2rem
    }
    #content .list .con .number{
        display: none
    }
    #content .list .con .desc{
        display: block;
        width: 100%
    }
    #content .list .con .date{
        display: block;
        width: 100%;
    }
}