#content{
    min-height: 600px
}
#content .select_box{
    background: #f7f7f7;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}
#content .select_box .area_select{
    font-size: 2.2rem;
    font-weight: 600
}
#content .select_box .area_select .select{
    margin: 0 25px;
    background: url(../images/arrow_bottom_red.png) no-repeat right center;
    padding-right: 35px;
    color: #e60200;
    cursor: pointer
}
#content .select_box .category_fillter_box{
    margin-top: 25px;
}
#content .select_box .category_fillter_box .filter_btn{
    display: inline-block;
    width: 70px; 
    height: 38px; line-height: 38px;
    border: 1px solid #e60200;
    text-align: center;
    color: #e60200;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;
    position: relative
}
#content .select_box .category_fillter_box .filter_list{
    font-size: 0;
    display: inline-block;
    border: 1px solid #e60200;
    border-right: 0 none;
    height: 38px;
    line-height: 38px;
    border-radius: 5px;
    margin-left: 10px;
    background: #fff;
    box-sizing: border-box;
    vertical-align: top;
    overflow: hidden
}
#content .select_box .category_fillter_box .filter_list li{
    display: inline-block;
    min-width: 70px;
    text-align: center;
    padding: 0 20px;
    font-size: 1.4rem;
    cursor: pointer;
    border-right: 1px solid #e60200
}
#content .select_box .category_fillter_box .filter_list li:first-child{
    border-radius: 5px 0 0 5px
}
#content .select_box .category_fillter_box .filter_list li:last-child{
    border-radius: 0 5px 5px 0;
}
#content .select_box .category_fillter_box .filter_list li.click{
    background: #e60200;
    color: #fff;
}
/* list_box */
#content .list_box{
    margin-top: 40px;
}
#content .list_box .title{
    margin-bottom: 15px;
    position: relative
}
#content .list_box .title .total{
    font-weight: 600;
    font-size: 1.6rem
}
#content .list_box .title .type{
    position: absolute; 
    right: 0; top: -8px;
    border: 1px solid #ddd;
    height: 33px;
    width: 110px;
    padding: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/arrow_bottom_gray.png) no-repeat right 10px center;
    font-size: 1.3rem
}
#content .list_box .list>li:first-child{
    border-top: 1px solid #e60200
}
#content .list_box .list>li{
    padding: 20px 0;
    border-bottom: 1px solid #ddd
}
#content .list_box .list .active img{
    width: 220px;
    height: 220px;
    object-fit: cover
}
#content .list_box .list .images{
    display: inline-block;
    margin-left: 3px;
}
#content .list_box .list .images li img{
    width: 50px;
}
#content .list_box .list .images li{
    margin-bottom: 5px
}
#content .list_box .list .images li:last-child{
    margin: 0
}
#content .list_box .list .right_con{
    display: inline-block;
    padding-left: 40px;
    width: calc(100% - 225px);
    vertical-align: top;
    position: relative;
}
#content .list_box .list .right_con .favorite_btn{
    position: absolute;
    right: 0; top: 7px;
    color: #e60200;
    cursor: pointer;
    box-sizing: border-box
}
#content .list_box .list .right_con .favorite_btn .fas{
    font-size: 2.4rem;
    color: #ddd
}
#content .list_box .list .right_con .favorite_btn.good .fas{
    color: #e60200;
}
#content .list_box .list .right_con .con_box .tit{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    width: 80%;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    margin-bottom: 5px
}
#content .list_box .list .right_con .con_box .address li{
    display: inline-block;
    border-right: 1px solid #aaa;
    padding-right: 7px;
    margin-right: 3px;
    color: #666;
    vertical-align: middle
}
#content .list_box .list .right_con .con_box .address li:first-child{
    max-width: 60%;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
}
#content .list_box .list .right_con .con_box .address li:last-child{
    border: 0 none;
    padding: 0;
    margin: 0
}
#content .list_box .list .right_con .con_box .data{
    margin-top: 8px;
}
#content .list_box .list .right_con .con_box .data .scope{
    display: inline-block;
    white-space: nowrap
}
#content .list_box .list .right_con .con_box .data .scope .star_grape{
    font-size: 0
}
#content .list_box .list .right_con .con_box .data .scope .star_grape .fas{
    font-size: 1.6rem;
    color: #ddd
}
#content .list_box .list .right_con .con_box .data .scope .star_grape .fas.color{
    color: #e60200
}
#content .list_box .list .right_con .con_box .data .scope .num{
    font-size: 1.8rem;
    margin-left: 10px;
    font-weight: 600;
    color: #e60200
}
#content .list_box .list .right_con .con_box .data .comment{
    margin-left: 15px;
    color: #888
}
#content .list_box .list .right_con .con_box .data .comment img{
    width: 18px;
    vertical-align: middle
}
#content .list_box .list .right_con .con_box .desc{
    margin-top: 12px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 2.6em;
    line-height: 1.3
}
#content .list_box .list .right_con .con_box .search_item{
    margin-top: 5px
}
#content .list_box .list .right_con .con_box .search_item li{
    display: inline-block;
    color: #888;
    font-size: 1.2rem
}
#content .list_box .list .right_con .comment_box{
    background: #f7f7f7;
    border-radius: 5px;
    padding: 12px;
    margin-top: 12px;
    font-size: 1.2rem;
    color: #666;
    transition: all 0.3s
}
#content .list_box .list .right_con .comment_box:hover{
    background: #eee
}
#content .list_box .list .right_con .comment_box .top_text{
    margin-bottom: 7px
}
#content .list_box .list .right_con .comment_box .top_text .comment_tit{
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
    max-width: 79%;
    display: inline-block;
    border-bottom: 1px dashed #aaa;
    padding-bottom: 2px;
    margin-right: 10px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    vertical-align: middle
}
#content .list_box .list .right_con .comment_box .top_text .name_id{
    color: #888;
    font-size: 1rem;
    display: inline-block;
    margin-top: 5px
}
#content .list_box .list .right_con .comment_box .top_text .name_id strong{
    margin-left: 4px
}
#content .list_box .list .right_con .comment_box .desc{
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    color: #888;
    font-size: 1.1rem
}
/* 필터 */
#content .select_box .category_fillter_box .filter_btn.active::after,
#content .select_box .category_fillter_box .filter_btn.active::before{
    display: block;
    content: '';
    position: absolute;
    bottom: -32px;
    pointer-events: none;
    border: solid transparent;
}
#content .select_box .category_fillter_box .filter_btn.active::after{
    border-bottom-color: #f7f7f7;
    border-width: 14px;
    margin-left: 22px
}
#content .select_box .category_fillter_box .filter_btn.active::before{
    border-bottom-color: #ccc;
    border-width: 16px;
    margin-left: 20px
}
#fileter_box{
    border-top: 1px solid #ddd;
    margin: 0 -20px;
    margin-top: 30px;
    padding-left: 40px;
    padding-top: 10px;
    display: none;
}
#fileter_box>ul>li{
    margin-bottom: 15px
}
#fileter_box>ul>li:last-child{
    margin: 0
}
#fileter_box .title{
    font-weight: 600;
}
#fileter_box .list{
    margin-top: 5px
}
#fileter_box .list li{
    display: inline-block;
    margin-right: 10px
}
#fileter_box .reset_btn{
    position: relative;
    right: 0; top: 15px;
    color: #888;
    margin-right: 20px;
    cursor: pointer;
    text-align: right
}
#fileter_box .reset_btn img{
    margin-right: 4px
}

/* 모달-지역선택 */
#myarea{
    padding-right: 0 !important
}
#myarea .modal-content{
    border: 0 none
}
#myarea .modal-header{
    background: #f7f7f7;
    padding: 0;
    height: 70px;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    position: relative;
    border: 0 none
}
#myarea .modal-header .modal-title{
    line-height: 70px;
    font-size: 2.2rem;
    font-weight: 600;
    display: inline-block
}
#myarea .modal-header .area_type{
    display: inline-block;
    border-radius: 5px;
    font-size: 0;
    margin-left: 20px;
    vertical-align: middle;
}
#myarea .modal-header .area_type li{
    display: inline-block;
    height: 36px; line-height: 36px;
    width: 60px; text-align: center;
    font-size: 1.4rem;
    border: 1px solid #e60200;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: top
}
#myarea .modal-header .area_type li:first-child{
    border-radius: 7px 0 0 7px
}
#myarea .modal-header .area_type li:last-child{
    border-radius: 0 7px 7px 0
}
#myarea .modal-header .area_type li.color{
    background: #e60200;
    color: #fff
}
#myarea .modal-header .location_btn{
    position: absolute;
    right: 30px; top: 28px;
    font-weight: 600;
    cursor: pointer
}
#myarea .modal-header .location_btn img{
    width: 16px;
    margin-right: 4px;
    vertical-align: top
}
#myarea .modal-body{
    padding: 30px;
    padding-bottom: 0
}
#myarea .modal-body .select_area li{
    display: inline-block;
    background: url(../images/area_select_item.png) no-repeat left center;
    padding-left: 12px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 95px;
    font-weight: 600
}
#myarea .modal-body .select_area li.type{
    color: #e60200
}
#myarea .modal-body .select_road_box{
    margin-top: 10px;
    min-height: 210px
}
#myarea .modal-body .select_road_box>li{
    display: none
}
#myarea .modal-body .select_road_box .select_road li{
    display: inline-block;
    height: 32px; line-height: 30px;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    margin-right: 15px;
    font-size: 1.3rem;
    cursor: pointer;
    box-sizing: border-box
}
#myarea .modal-body .select_road_box .select_road li.border{
    color: #e60200;
    border-color: #e60200
}
#myarea .modal-footer{
    border: 0 none;
    padding: 0 15px;
    padding-bottom: 15px;
}
#myarea .modal-footer .btn{
    background: none;
    color: #666;
    border: none;
    font-size: 1.6rem;
    padding: 0;
}
#myarea .modal-footer .btn-default:hover{
    background: none
}
