/*** visual ***/
#visual{
    background: url(../../images/mypage/visual3.jpg) no-repeat center center;
    background-size: cover;
    height: 200px; line-height: 200px;
    color: #fff;
    text-align: center;
    font-size: 4rem 
}
#visual .con{
    background: rgba(0,0,0,0.3)
}

/*** content **/
#content{
    width: 650px;
    margin: 0 auto
}
#content .order{
    margin-top: 50px;
    text-align: center;
    font-size: 0
}
#content .order span{
    display: inline-block;
    vertical-align: middle;
}
#content .order .arrow{
    margin: 0 1.5%;
    font-size: 1.6rem;
    color: #666
}
#content .order .title{
    width: 30%;
    height: 40px; line-height: 40px;
    background: #ddd;
    font-size: 1.4rem;
}
#content .order .first{
    background: #3672b0;
    color: #fff
}
#content .rating_box{
    padding: 50px 0;
    border-bottom: 1px solid #e7e7e7
}
#content .rating_box p{
    font-size: 0;
}
#content .rating_box .now{
    margin-bottom: 20px
}
#content .rating_box .s_tit{
    font-size: 1.6rem;
    color: #888;
    width: 20%;
    display: inline-block
}
#content .rating_box .desc{
    display: inline-block;
    width: 80%
}
#content .rating_box .text{
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.4rem;
    padding-left: 10px;
}
#content .document_info{
    font-size: 1.4rem;
    margin-top: 50px;
}
#content .document_info .tit{
    font-size: 1.8rem;
    margin-bottom: 10px;
}
#content .document_info .desc_list{
    color: red;
    margin-bottom: 15px;
}
#content .document_info .desc_list li{
    margin: 5px 0
}
#content .document_info .desc_list .blue{
    color: blue
}
#content .document_info .file_box{
    padding-top: 40px;
    border-top: 2px solid #3672b0
}
#content .document_info .file_box li{
    margin-bottom: 20px;
    font-size: 0
}
#content .document_info .file_box span{
    display: inline-block;
    width: 49.5%;
    font-size: 1.4rem;
    vertical-align: middle
}
#content .document_info .file_box input{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 26px;
}
#content .document_info .file_box .title{
    margin-bottom: 10px;
    color: #888
}
#content .document_info .file_box .right{
    margin-left: 1%
}
#content .submit_btn{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 50px
}
#content .submit_btn input{
    width: 100%;
    border-radius: 5px;
    height: 50px; line-height: 50px;
    border: 1px solid #3672b0;
    background: #3672b0;
    color: #fff;
    transition: all 0.3s
}
#content .submit_btn input:hover{
    background: transparent;
    color: #444;
}