/* Common */
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.hide {
	display: none
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
html {
    font-size: 10px;
}
body {
    font-family: 'NanumGothic', sans-serif;
    font-size: 1.8rem;
    color: #444;
} 

/*** header ***/
/* header_top */
#header .header_top{
    background: #f2f3f7;
    padding: 12px 0
}
#header .header_top .inner{
    font-size: 0;
    text-align: right;
}
#header .header_top .inner li{
    display: inline-block;
    font-size: 12px;
    color: #666;
    vertical-align: middle
}
#header .header_top .inner .social{
    margin-right: 10px;
    background: url(../images/bar.png) no-repeat right center;
}
#header .header_top .inner .social li{
    position: relative;
    padding: 0 10px;
}
#header .header_top .inner .util li{
    margin-left: 20px; 
}
#header .header_top .inner .login li>a{
    display: inline-block;
    margin-left: 15px;
    font-weight: bold
}
/* header_bottom */
#header .header_bottom{
    box-sizing: border-box;
    line-height: 60px;
    border-bottom: 1px solid #efefef;
}
#header .header_bottom .logo{
    float: left
}
#header .header_bottom .logo img{
    vertical-align: middle
}
#header .header_bottom .gnb{
    float: right;
    font-size: 0;
}
#header .header_bottom .gnb>ul{
    height: 60px
}
#header .header_bottom .gnb>ul>li{
    display: inline-block;
    font-size: 1.8rem;
    color: #666;
    margin-left: 100px;
    transition: all 0.3s
}
#header .header_bottom .gnb>ul>li:hover{
    color: #444
}
#header .header_bottom .gnb>ul>li.menu{
    position: relative
}
#header .header_bottom .gnb .sub{
    position: absolute;
    top: 50px; left: -15px;
    z-index: 1;
    background: #fff;
    border: 1px solid #666;
    text-align: center;
    width: 100px;
    padding: 10px 0;
    display: none
}
#header .header_bottom .gnb .sub li{
    height: auto;
    color: #666;
    font-size: 1.4rem;
    line-height: 2;
    transition: all 0.3s
}
#header .header_bottom .gnb .sub li:hover{
    color: #444
}
/*** mobile gnb ***/
html.fixed{ 
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%
}
#header .open_btn{
    position: absolute;
    
    /* 2018-08-22 */
    /* 수정 */
    top: 19px;
    
    right: 5%;
    font-size: 2.5rem;
    color: #3672b0;
    cursor: pointer;
    display: none
}
#header .gnb_box{
    position: fixed;
    top: 0; right: -280px;
    z-index: 100000; 
    width: 280px;
    height: 100%;
    background: #fff;
}
#header .gnb_box .gnb_box_wrap{
    height: calc(100% - 54px)
}
#header .gnb_box .gnb_box_wrap_in{
    height: 100%;
    overflow-y: auto
}
#header .gnb_box .close_btn{
    display: inline-block;
    float: right;
    color: #3672b0;
    font-size: 2.3rem;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px
}
#header .gnb_box .m_top{
    margin-top: 40px
}
#header .gnb_box .m_top .m_logo{
    text-align: center
}
#header .gnb_box .m_top .m_logo img{
    width: 55%
}
#header .gnb_box .m_top .nav_login{
    font-size: 0;
    margin-top: 22px;
    padding: 15px;
    box-sizing: border-box
}
#header .gnb_box .m_top .nav_login li{
    font-size: 1.4rem;
    border: 1px solid #3672b0;
    width: 120px;
    height: 36px; line-height: 36px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    box-sizing: border-box;
    transition: all 0.3s
}
#header .gnb_box .m_top .nav_login li:nth-child(1):hover{
    background: #3672b0;
    color: #fff
}
#header .gnb_box .m_top .nav_login li:nth-child(2){
    background: #3672b0;
    color: #fff;
    margin: 0
}
#header .gnb_box .m_top .nav_login li:nth-child(2):hover{
    background: #fff;
    color: #444
}
#header .gnb_box .m_top .top_menu{
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    font-size: 0;
    margin-top: 10px;
}
#header .gnb_box .m_top .top_menu li{
    display: inline-block;
    font-size: 1.6rem;
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border-right: 1px solid #e7e7e7;
    box-sizing: border-box
}
#header .gnb_box .m_top .top_menu li:last-child{
    border-right: 0
}
#header .gnb_box .m_top .top_menu .title{
    margin-top: 8px;
    color: #3672b0
}
#header .gnb_box .m_top .nav_list{
    margin-top: 40px;
    padding-left: 20px;
}
#header .gnb_box .m_top .nav_list li{
    color: #666;
    margin-bottom: 25px;
    font-size: 1.6rem;
    transition: all 0.3s
}
#header .gnb_box .m_top .nav_list li:hover{
    color: #444
}
#header .gnb_box .m_top .number{
    color: #3672b0;
    padding-left: 20px;
    margin: 50px 0
}
#header .gnb_box .m_top .number .num{
    margin-top: 8px;
    font-weight: 700;
    font-size: 2.6rem;
}
#header .gnb_box .m_bottom{
    position: absolute;
    bottom: 0;
    background: #f6fbff;
    width: 100%;
    text-align: center;
    padding: 12px 0;
}
#header .gnb_box .m_bottom li{
    display: inline-block;
    margin: 0 12px;
}
.dimmed{
    position: fixed;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background: rgba(0,0,0,0.65);
    z-index: 10000;
    cursor: pointer;
    display: none
}

/*** footer ***/
#footer{
    margin-top: 100px;
}
/* footer_top */
#footer .footer_top{
    background: #3e4046;
    color: #fff;
    font-size: 0;
    height: 48px; line-height: 48px
}
#footer .footer_top .guide li{
    display: inline-block;
    font-size: 1.4rem;
    background: url(../images/bar_white.png) no-repeat right center;
    padding-right: 15px;
    margin-right: 15px
}
#footer .footer_top .guide li.red_color{
    background: none;
    transition: all 0.3s
}
#footer .footer_top .guide li.red_color:hover{
    color: red
}
/* footer_bottom */
#footer .footer_bottom{
    background: #43454c;
    color: #fff;
    padding: 40px 0
}
#footer .footer_bottom .f_logo{
    float: left;
    margin-top: 50px
}
#footer .footer_bottom .con_box{
    float: left;
    width: 77%;
    margin-left: 56px;
    font-size: 0;
    color: #afafaf
}
#footer .footer_bottom .con_box li{
    display: inline-block;
    font-size: 1.4rem;
    background: url(../images/bar_gray.png) no-repeat right center;
    padding-right: 8px;
    margin-right: 8px;
}
#footer .footer_bottom .con_box li:last-child{
    background: none
}
#footer .footer_bottom .con_box .number{
    margin-top: 10px
}
#footer .footer_bottom .con_box .phone{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 30px;
    color: #fff
}
#footer .footer_bottom .con_box .desc{
    font-size: 1.4rem;
    line-height: 1.3;
    margin-top: 10px
}

/* aside */
.top{
    position: fixed;
    bottom: 261px; right: 20px;
    width: 57px;
    background: #3672b0;
    text-align: center;
    padding: 7px 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none
}